body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgba(47, 17, 64, 0.96);
}

.bgimage{
  /* height: 100%;
  background-image: url('/public/images/loginBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.header{
  display: none;
}

.form-header{
  color: wheat;
  position: relative;
  top: 2rem;
}

.container1{
  background-color: #3b3759;
  margin: auto;
  top: 123px;
  width: 370px;
  height: 370px;  
  position: relative;
  border-radius: 14px;
  text-align: center;
}

/* .login_form {
  float: left;
  margin: auto;
  top: 160px;
  width: 350px;
  height: 350px;
  position: relative;
  left: 189px;
} */

.input {
  box-sizing: border-box;
  display: block;
  border: none;
  outline: none;
  color: white;
  background-color: #272727;
  border-radius: 14px;
  width: 19rem;
  height: 32px;
  margin: 20px auto;
  padding: 15px 12px;
  position: relative;
  top: 50px;
}

.input:active,
.input:focus {
  border-color: transparent;
  border-bottom: 2px solid grey;
}

.submit {
  background-color: rgb(241, 37, 37);
  color: white;
  border: none;
  border-radius: 4px;
  height: 33px;
  width: 80px;
  outline: none;
  font-size: large;
  border-radius: 17px;
  position: relative;
  top: 51px;
  right: 27px;
  cursor: pointer;
}

.proceed{
  position: relative;
  top: -54px;
  right: 11px;
  width: 7rem;
  height: 39px;
}

.submit:hover {
  background-color: rgb(255, 2, 2);
}

.background {
  position: relative;
  display: inline;
  top: 140px;
  left: 396px;
}

.cont {
  display: inline-block;
  position: absolute;
}

a{
  text-decoration: none;
}

.login-button2{
  position: relative;
  text-decoration: none;
  display: block;
  margin: auto;
  top: 8rem;
  font-size: large;
  color: wheat;
}

.showbtn{
  position: relative;
  width: 20px;
  height: 20px;
  filter: invert(1);
  cursor: pointer;
}

.showimage{
  left: 16.5rem;
}

.newpasswordshow{
  left: 8rem;
  top: 8px;
}

.newconfirmpassshow{
  left: 8rem;
  bottom: 2rem;
}

.forgotpass{
  position: relative;
  text-decoration: none;
  left: 7px;
  background-color: white;
  color: rgb(241, 37, 37);
  border-radius: 18px;
  font-size: large;
  top: 51px;
  padding: 6px 12px;
  cursor: pointer;
}

.select-question{
  display: block;
  position: relative;
  top: 47px;
  left: 33px;
  width: 19rem;
  height: 32px;
  border-radius: 14px;
  color: white;
  background-color: #272727;
  outline: none;  
  border: none;
  padding-left: 10px;
  font-size: 14px;
}

.container2{
  display: block;
  background-color: #3b3759;
  margin: auto;
  top: 6rem;
  width: 23rem;
  height: 25rem;
  position: relative;
  border-radius: 14px;
  text-align: center;
}

.input2{
  box-sizing: border-box;
  display: block;
  border: none;
  outline: none;
  color: white;
  background-color: #272727;
  border-radius: 14px;
  width: 19rem;
  height: 32px;
  padding: 15px 12px;
  position: relative;
  top: 48px;
  margin: 16px auto;
}

.input2:active,
.input2:focus {
  border-color: transparent;
  border-bottom: 2px solid grey;
}

.back{
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  width: 35px;
  height: 27px;
  font-size: large;
  position: relative;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

.some{
  position: relative;
  bottom: 3rem;
}

.some1{
  position: relative;
  top: 1rem;
}